<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid >
    <ion-row>
      <ion-col width-50 offset-25>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-100>
        <ion-list>

        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input type="text" #username></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="password" #password></ion-input>
        </ion-item>

        </ion-list>

        <div padding>
          <button ion-button block (click)="signInUser()" >Sign In</button>
        </div>

        <ion-item style="text-align:center;">
          <a href="#" (click)="resetPassword()">Forgot Password?</a>
        </ion-item>

        <ion-item style="text-align:center;">
          <a href="#" (click)="signUp()">New User?</a>
        </ion-item>



      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
