<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  <ion-grid >
    <ion-row>
      <ion-col width-50 offset-25>
        <div align="center" style="display:inline-block; width:100%;"><img src="../../assets/icon/icon.png" style="text-align:center; width:100px;"/></div>
        <h2 class="location"><span style="color:#1F8EE7;">hash</span><span style="color:#5E6AC0;">chat</span></h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-100>
        <div id="topbuttons">
          <button ion-button (click)="signIn()" >Sign In</button>
          <button ion-button (click)="signUp()" >Sign Up</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
