
$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";


$colors: (
  primary:    #6495ed,
  secondary:  #1F8EE7,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #222
);

//Top toolbar
$toolbar-md-background:color($colors,secondary);

// Bottom tabs
$tabs-md-background:color($colors,secondary);
$tabs-md-tab-color-active:color($colors,light);
$tabs-md-tab-color:color($colors,light);
$tabs-md-tab-text-color:color($colors,light);


@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
