<!--
  Generated template for the LoggedinPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Chat Room</ion-title>

    <ion-buttons end>
      <div class="elem">
        <button ion-button icon-only (click)="signOut()">
          <ion-icon name="log-out"></ion-icon>
        </button>
      </div>
    </ion-buttons>



  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="chatMessages" #scrollMe style="overflow: scroll;height:xyz;">
    <div class="message" *ngFor="let message of messages" >
      <div [class]="message.username == username ? 'innerMessage messageRight' : 'innerMessage messageLeft'">
        <div class="username">{{ message.username }}</div>
        <div class="message">{{ message.message }}</div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>

    <div class="footer">
      <div class="elem"><ion-input type="text" [(ngModel)]="message" ></ion-input></div>
      <div class="elem"><button ion-button icon-only (click)="sendMessage()"><ion-icon name="send"></ion-icon></button></div>
    </div>

  </ion-toolbar>
</ion-footer>
