<!--
  Generated template for the ResetpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>resetpassword</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid >
    <ion-row>
      <ion-col width-50 offset-25>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-100>
        <ion-list>

          <ion-item>
            <ion-label>Email</ion-label>
            <ion-input type="text" #username></ion-input>
          </ion-item>

        </ion-list>

        <div padding>
          <button ion-button block (click)="sendResetPasswordLink()" >Reset Password</button>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
